@import '../../index.scss';

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

.header {
    background-color: white;
    height: 80px;
    position: relative;
}

.header-content {
    @include flex-row;
    bottom: 0;

    @media screen and (max-width: $small-tablet) {
        flex-direction: column;

        .menu {
            bottom: 1rem;
            position: relative;
            margin: 0;
        }
    }

    @media screen and (min-width: $small-tablet+1) {
        .menu {
            bottom: 0;
        }
    }


}

.menu {
    position: absolute;
    list-style-type: none;
    padding-left: 0.5rem;
    @include flex-row;
}

.menu-item {
    padding-right: 1rem;
    flex: 0 0 auto;
}
